*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color:#8D396B;
}
.containor{
    display: flex;
    justify-content: center;

}
.main{
    text-align: left;
    width: 30%;
    margin-left: 20px;
    margin-top: 10%;
}
.block{
    position: relative;
    margin:10% auto 0 ;
    width: 40%;
    height: 400%;
    /* background: linear-gradient(0deg,rgb(228, 226, 226) ,rgb(44, 44, 44)); */
    background-color:#ece9fa;
    padding: 20px;

}
.main::before, .main::after{
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    /* background: linear-gradient(45deg,#e6fb04, #ff6600,#00ff66,#ff6600,
    #ff0099,#ff0099,#6e0dd0,#ff0099,#e6fb04); */
    /* background-color:bisque; */
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
@keyframes animate {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
    
}
/* .main::after{
    filter: blur(30px);
} */
#timer{
    text-align: center;
    font-size: 20px;
}
h1{
    text-align: center;
}
#ques{
    padding: 10px;
    border-radius:5px;
    font-family: monospace;
    font-weight: 900;
    font-size: 17px;
    background-color: #8D396B;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}
#opt1{
   padding-left: 10px;
}
#opt2{
    padding-left: 10px;
 }
 #opt3{
    padding-left: 10px;
 }
.head{
    margin-left: 20px;
}
.btn{
    text-align: center;
    display: flex;
}
button{
    flex-grow: 1;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    font-size: 21px;
    background-color: blue;
    border: 0;
    outline: none;
    cursor: pointer;
}
button:hover{
    background-color: rgb(1, 1, 201);
}